body {
    font-family: Arial, sans-serif;
    max-width: 800px; /* Atur lebar maksimum konten */
    margin: 0 auto; /* Memposisikan konten di tengah */
    padding: 20px; /* Beri padding untuk menjaga jarak dari tepi browser */
    text-align: justify; /* Ratakan teks */
    background-color: #0F0F10; /* Warna hitam untuk latar belakang */
    color: #ffffff; /* Warna putih untuk teks */
}

h1, h2, h3, h4, h5, h6 {
    text-align: center; /* Ratakan judul-judul ke tengah */
}

p, ul, ol {
    text-align: justify; /* Ratakan teks paragraf dan list ke tengah */
}

address {
    text-align: center; /* Ratakan alamat di tengah */
    margin-top: 20px; /* Beri sedikit jarak dari paragraf sebelumnya */
}

hr {
    margin: 20px 0; /* Beri sedikit jarak di atas dan di bawah garis pemisah */
}

ul, ol {
    padding-left: 20px; /* Beri indentasi untuk list */
}

#ig, #wa {
    display: inline-block;
    margin: 0 10px;
    /* Beri jarak antara ikon Instagram dan WhatsApp */
}

a {
    color: aquamarine;
}

header {
    background-color: #333; /* Warna latar header */
    color: white; /* Warna teks */
    padding: 5px 0; /* Padding atas dan bawah */
    text-align: center; /* Teks rata tengah */
}

nav ul {
    list-style-type: none; /* Menghilangkan bullet list */
    margin: 0;
    padding: 0;
    position: relative; /* Menjadikan posisi relatif */
}

nav ul li {
    display: inline-block; /* Item menu sejajar */
    margin: 0 45px; /* Margin antar item menu */
    position: relative; /* Menjadikan posisi relatif */
}

nav ul li a {
    color: white; /* Warna teks link */
    text-decoration: none; /* Menghilangkan underline */
    padding: 10px 10px; /* Padding untuk ruang klik */
    display: block; /* Menjadikan blok */
    position: relative; /* Menjadikan posisi relatif */
}

nav ul li a:hover {
    background-color: #555; /* Warna latar saat hover */
}

/* CSS untuk list kontak */
.contact-dropdown {
    position: absolute; /* Atur posisi absolut */
    background-color: #333; /* Warna latar belakang */
    padding: 10px; /* Padding */
    color: white; /* Warna teks */
    z-index: 1; /* Atur z-index agar di atas konten lain */
    top: 100%; /* Menempatkan list kontak tepat di bawah nav */
    left: 0; /* Menempatkan list kontak dari kiri */
    width: 100%; /* Lebar sesuai dengan parent */
    display: none; /* Sembunyikan secara default */
    transform: translateX(-10%);
}

.contact-dropdown a {
    display: block; /* Atur link agar menempati space penuh */
    text-decoration: none; /* Menghilangkan underline */
    color: aqua; /* Warna teks link */
    padding: 5px 0; /* Padding atas bawah */
}

.contact-dropdown a:hover {
    background-color: #555; /* Warna latar saat hover */
}

nav ul li:hover .contact-dropdown {
    display: block; /* Tampilkan list kontak saat hover */
}

.centerimage {
    text-align: center;
}

.bagiankiri {
    text-align: left;
}

.outlinetext {
    color: white; /* Warna teks */
    text-shadow:
        -1px -1px 0 aquamarine,  
        1px -1px 0 aquamarine,
        -1px 1px 0 aquamarine,
        1px 1px 0 aquamarine; /* Bayangan untuk outline */
}